**/.venv
**/.vscode
**/__pycache__
**/.dockerignore
**/.env*
**/.gitignore
**/Dockerfile*
download_media.sh
**/*.md
# Media files will be in a volume:
media/
**/.DS_Store
**/Thumbs.db
**/.pytest_cache/
