.recipe-carousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  background: transparent;
  position: relative;
  box-sizing: border-box;
}

.recipe-carousel__slider {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: max-content;
  animation: slideFeed 30s linear infinite;
}

@keyframes slideFeed {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .recipe-carousel__slider {
    padding-top: 1rem;
    gap: 1rem;
  }
}
