.recipe-carousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: var(--spacing-3xl) 0;
  background: transparent;
  position: relative;
  box-sizing: border-box;
}

.recipe-carousel__slider {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-5xl);
  width: max-content;
  animation: slideFeed 30s linear infinite;
}

@media (max-width: 768px) {
  .recipe-carousel__slider {
    padding-top: var(--spacing-lg);
    gap: var(--spacing-lg);
  }
}
